__pycache__/Greedy.cpython-38.pyc
__pycache__/Layout.cpython-38.pyc
__pycache__/mcts_layout.cpython-38.pyc
__pycache__/mcts.cpython-38.pyc
__pycache__/model.cpython-38.pyc
.vscode/launch.json
.vscode/settings.json
